body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#game {
    margin-top: 50px;
}

#esferas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.esfera {
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.esfera:hover {
    transform: scale(1.1);
}

#mensaje {
    font-size: 24px;
    color: green;
    margin-top: 20px;
    font-weight: bold;
}
